<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <model>Vehicle</model>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Vehicle Inventory</h1>

        <p>
            <a href="/vehicleEdit" th:href="@{/vehicleEdit}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Stock #</th>
                    <th>Color</th>
                    <th>Model</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vehicle : ${vehicleList}">
                    <td th:text="${vehicle.stockNumber}">1</td>
                    <td th:text="${vehicle.color}">Test</td>
                    <td th:text="${vehicle.model}">Test</td>
                    <td>
                        <a href="/vehicleEdit/1" th:href="@{/vehicleEdit/__${vehicle.stockNumber}__}">Edit</a>
                        <a href="/vehicleDelete/1" th:href="@{/vehicleDelete/__${vehicle.stockNumber}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>